@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: white;
    list-style-type: lower-roman;
}

:root {
    background-color: black;
    flex-flow: column nowrap;
    height: 100vh;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: chartreuse;
    padding: 10px;
}

.conteiner.enunciado ul li {
    margin: 10px 70px;
} 

p {
    margin: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

input {
    width: 60%;
    border-radius: 10px;
    color: black;
}

#boton {
    width: 30%;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    width: 80%;
    text-align: center;
    font-size: 24px;
    color: orangered;
    font-weight: bold;
}

