#calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#ordenar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    width: 80vw;
    margin: auto;
    padding: auto;
    background-color: cadetblue;
    margin-bottom: 30px;
    border-radius: 10px;
}

#day, #month, #year {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: black;
}

#dias, #mes, #año {
    width: 150px;
    height: 30px;
    margin: 10px;
    color: #000;
    font-size: 18px;
}

.dia, .mes, #año {
    color: black;
    text-align: center;
}

.btn:disabled, .btn:disabled:hover {
    background-color: grey;
    color: black;
}

#conteinerGrip {
    display: grid;
    margin: auto;
    width: 80vw;
    height: 40px;
    background-color: aqua;
    border-radius: 10px;
}

#resDia {
    color: black;
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    #ordenar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        width: 40vw;
        margin: auto;
        padding: auto;
        background-color: cadetblue;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 10px;
    }

    #conteinerGrip {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
        width: 40vw;
        height: 40px;
        background-color: aqua;
        border-radius: 10px;
    }
}