#frase {
  font-size: 40px;
  font-weight: bold;
}

#lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.item {
  list-style: none;
  font-family: inconsolata, sans-serif;
  margin: 10px;
  font-size: 24px;
  color: greenyellow;
}