.codigo {
  font-family: sans-serif;
  background-color: gray;
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 24px;
}

#respuesta {
  font-family: sans-serif;
  background-color: gray;
  color: black;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 24px;
}


