.formYTabla {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    height: auto;
}

.formulario {
    display: grid;
    grid-template: repeat(3, 1fr), repeat(3, 1fr);
    grid-template-areas: 
        "label1 label2 label3"
        "input1 input2 input3"
        ". btn .";
    justify-items: center;
    padding: 30px;
    border-radius: 10px;
}


.caja {
    border-radius: 10px;
    font-family: inconsolata,sans-serif;
    color: black;
    padding: 5px 20px;
    width: 200px;
    font-size: 18px;
}

.caja:focus {
    background-color: yellow;
    border: 3px solid red;
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

#label1 {
    grid-area: label1;
}

#label2 {
    grid-area: label2;
}

#label3 {
    grid-area: label3;
}

#nombre {
    grid-area: input1;
}

#compositor {
    grid-area: input2;
}

#duracion {
    grid-area: input3;
    text-align: end;
}

.btn {
    grid-area: btn;
    margin-top: 30px;
    width: 200px;
}


.tabla tr th{
    width: 700px;
    min-width: 200px;
    background-color: #6a040f;
    border: 3px solid #ffba08;
    border-radius: 5px;
}

.tabla tr td{
    color: black;
    font-weight: bold;
    text-align: center;
}

.tabla tr:nth-child(odd) {
    background-color: #f48c06;
    border-style: groove;
}

.tabla tr:nth-child(even) {
    background-color: #dc2f02;
    border-style: groove;
}

