#btn {
    font-family: 'Segoe UI Emoji';
    position: absolute;
    transition: top, left 100ms;
}

.titulo {
    user-select: none;
}

.enunciado {
    user-select: none;
}

p {
    user-select: none;
}